@import "../../styles/base";

.movementsContainer {
  height: 400px;

  > p {
    margin-left: 14px;
    font-size: 18px;
    line-height: 21.94px;
    text-align: center;
    width: 201px;
    font-weight: 700;
  }

  @include media-min-width(400px) {
    max-width: 428px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  @include media-min-width(40rem) {
    max-width: 600px;
  }
}

.movement {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  border-bottom: $border-secondary;
  height: 70px;
  gap: 74px;
  margin: 0 auto;

  @include media-min-width(400px) {
    width: 100%;
  }

  @include media-min-width(40rem) {
    margin: 0;
    justify-content: space-between;
    max-width: 600px;
    padding: 1.5rem;
  }

  div:first-child {
    display: flex;
    align-items: center;
    gap: 9px;
  }
  div:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106px;
  }
}
