@import "../../styles/base";

.headerContainer {
  background-color: map-get($colors, base-color);
  color: map-get($colors, text-primary);
  height: 80px;
  text-align: center;
  line-height: 19.5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;

  div {
    cursor: pointer;
  }
  svg {
    padding: 5px;
    position: absolute;
    left: 20px;
    top: 45px;
    @include media-min-width(40rem) {
      left: 200px;
    }
  }
}
