$base-color: #01ad87;
$secondary-color: #c4c4c4;
$text-primary: #ffffff;

.headerContainer {
  background-color: $base-color;
  color: $text-primary;
  height: 80px;
  text-align: center;
  line-height: 19.5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 15px;
}

.headerContainer svg {
  padding: 5px;
  position: absolute;
  left: 20px;
  top: 45px;
}
