@import "../../../styles/base";
@import "../../../styles/font.scss";

.button {
  all: unset;
  background-color: map-get($colors, base-color);
  width: 280px;
  height: 65px;
  border-radius: 360px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  .text {
    color: map-get($colors, text-primary);
    text-align: center;
    font-size: 18px;
    line-height: 25.6px;
    font-weight: 400;

    @include media-min-width(400px) {
      font-size: 21px;
    }
  }
  :hover {
    background-color: map-get($colors, secondary-color);
  }
}

.button:hover {
  background-color: map-get($colors, secondary-color);
}

.secondaryButton {
  all: unset;
  background-color: map-get($colors, secondary_color);
  width: 280px;
  height: 65px;
  border-radius: 360px;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.5);
  .text {
    color: map-get($colors, text-primary);
    text-align: center;
    font-size: 18px;
    line-height: 25.6px;
    font-weight: 400;

    @include media-min-width(400px) {
      font-size: 21px;
    }
  }
}

.secondaryButton:focus {
  background-color: map-get($colors, base-color);
}
