@import "../../styles/base";

.headerContainer {
  background-color: map-get($colors, base-color);
  height: 80px;
  text-align: center;
  line-height: 19.5px;
  font-size: 16px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 15px;
  gap: 20px;

  div:first-child {
    cursor: pointer;
    height: 20px;
    position: absolute;
    left: 10px;
    color: map-get($colors, text-primary);

    @include media-min-width(1000px) {
      left: 30%;
    }
  }

  .titleContainer {
    position: static !important;
  }
}
