.iconContaier {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100px;
  max-width: 406px;
  gap: 10px;
  margin-left: 10px;
  margin-top: 20px;
}

.title {
  width: 150px;
  height: 22px;
  margin-top: 13px;
  margin-left: 10px;
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 18px;
  line-height: 21.94px;
  text-align: center;
}
