@import "../../styles/base";

.cardContainer {
  max-width: 400px;
  height: 140px;
  border-radius: 10px;
  background-color: map-get($colors, backgroundWhite);
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  margin-top: 10px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}

.amountContainer {
  width: 400px;
  height: 70px;
}

.amountContainer p {
  margin: 23px 13px;
}

.amountContainer span {
  font-weight: bold;
}

.campaignContainer {
  max-width: 400px;
  height: 70px;
  display: flex;
  justify-content: space-between;
}

.campaignContainer p {
  margin: 23px 13px;
}

.campaignContainer span {
  font-weight: bold;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  margin-top: 5px;
}
