@import '../header/header.module.scss';
@import "../../styles/font.scss";


.inputsContainer {
    display: flex;
    gap: 18px;
    width: 356px;
    height: 100px;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.inputsContainer input {
    width: 40px;
    height: 45px;
    border-radius: 10px;
    border-color: none;
    background-color: #F9F8F8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
    border: solid 0px;
    text-align: center;
}

.formContainer {
    width: 381px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
   }
   